# IntelliJ / Android Studio / VS Code
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Gradle
.gradle/
.build/
local.properties

# Android build outputs
build/
captures/

# NDK / CMake / External builds
.externalNativeBuild/
.cxx/

# Other temporary IDE files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
